<!DOCTYPE html>
<html>
<head>
  <meta charset='utf=8'>
  <title> Berryberry Raspberry </title>
  <!--FONT AWESOME-->
  <div id="nav_group">
    <!-- Topbar -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Berry</a>
      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>

      <!-- Topbar Navbar -->
      <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <!-- Counter - Alerts -->
            <span class="badge badge-danger badge-counter">3+</span>
          </a>
          <!-- Dropdown - Alerts -->
          <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">
              Notice Center
            </h6>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                <div class="icon-circle bg-primary">
                  <i class="fas fa-file-alt text-white"></i>
                </div>
              </div>
              <div>
                <div class="small text-gray-500">December 12, 2019</div>
                <span class="font-weight-bold">A new monthly report is ready to download!</span>
              </div>
            </a>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                <div class="icon-circle bg-success">
                  <i class="fas fa-donate text-white"></i>
                </div>
              </div>
              <div>
                <div class="small text-gray-500">December 7, 2019</div>
                $290.29 has been deposited into your account!
              </div>
            </a>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                <div class="icon-circle bg-warning">
                  <i class="fas fa-exclamation-triangle text-white"></i>
                </div>
              </div>
              <div>
                <div class="small text-gray-500">December 2, 2019</div>
                Spending Alert: We've noticed unusually high spending for your account.
              </div>
            </a>
            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
          </div>
        </li>


        <div class="topbar-divider d-none d-sm-block"></div>

      </ul>

    </nav>
  </div>

  <div id="video_group">
    <video id = localVideo class = "video-js"
           controls
           width = "500"
           height = "350"
           preload="auto"
           data-setup ="{}"
           autoplay muted playsinline>
    </video>
    <video id = remoteVideo class = "video-js"
           controls
           width = "500"
           height = "350"
           preload="auto"
           data-setup ="{}"
           autoplay muted playsinline>
    </video>
  </div>



  <!-- 여기서 부터 스크립트 파일 -->
  <script src="https://kit.fontawesome.com/6715a6f38d.js" crossorigin="anonymous"></script>
  <!--BOOTSTRAP & JQUERY-->
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <!--VIDEO FRAMEWORK-->
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
  <link href="https://vjs.zencdn.net/7.6.6/video-js.css" rel="stylesheet" />
  <script src="https://vjs.zencdn.net/7.6.6/video.js"></script>
  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script type="text/javascript" src="javascripts/videotime.js"></script>
  <link rel="stylesheet" href="stylesheets/video.css">
  <script type="text/javascript" src="javascripts/main_event.js"></script>


</head>
<body>
<!-- 채팅 -->
<textarea multiple class = 'form-control' rows="10" cols = "30" id="chat" readonly></textarea>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="입력하세요" id="user">
  <button class = "btn btn-dark" value = "msg" onclick = "btnOnClick()" id="btn_send">
    <i class="far fa-paper-plane"></i>
  </button>
</div>

</body>
</html>
